@font-face {
  font-family: '20976';
  src: url('../fonts/20665.eot');
  src: url('../fonts/20976.eot?#iefix') format('embedded-opentype'),
       url('../fonts/20976.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MontserratAlternates-Italic';
  src: url('../fonts/MontserratAlternates-Italic.svg#MontserratAlternates-Italic') format('svg'),
       url('../fonts/MontserratAlternates-Italic.ttf') format('truetype'),
       url('../fonts/MontserratAlternates-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: MontserratAlternates-Italic;
  font-weight: 300;
  background-color: #e3faec;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.middle_block::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../img/background/main-bg.jpg');
  background-repeat: repeat;
  background-position: left top;
  background-size: 20%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: -1;
}

.header {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between; 
  padding: 3px 1% 0;
  background-color: #becfc5;
  box-shadow: 0 0 7px #444;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header_logo {
  height: 100px;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header_contacts a {
  text-decoration:none;
  color: black;
  font-weight: bold;
  line-height: 22px;
}

.middle_block {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.side_menu-basket-mobile {display: none;}

.side_menu {
  min-width: 200px;
  font-weight: bold;
  background-color: GhostWhite;
  box-shadow: 0 0 7px #444;
  font-style: italic;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.side_menu-title {
  padding: 5%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: center; */
  height: 50px;
}

.side_menu-burger {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  /* background-color: #becfc5; */
  margin-right: 15px;
  /* border-radius: 50%; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: center; */
  /* box-shadow: 0 0 7px #444; */
  padding: 5%;
}

.burger_top,
.burger_middle,
.burger_bottom {
  width: 25px;
  border: 2px solid black;
  border-radius: 2px;
  margin: 2px;
}

.side_menu-title h3 {
  padding: 0;
  margin: 0;
  color: #498c33;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.side_menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.side_menu-list li {
  display: flex;
  box-sizing: border-box;
  border-top: 2px solid lightgray;
  padding: 5%;
  color: #7bb928;
  align-items: center;
}

.side_menu-list li img {
  margin-right: 15px;
}

.side_menu-list li:last-child {
  border-bottom: 2px solid lightgray;
}

.side_menu-list li:hover {
  color: #498c33;
  cursor: pointer;
}

.side_menu-list li:hover,
.side_menu-list li:hover + li {
  border-top: 2px solid #2e581f;
}

.side_menu-list li:last-child:hover {
  border-bottom: 2px solid #2e581f;
}

.side_menu-basket {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  font-size: 20px;
  color: #2e581f;
  margin-top: auto;
  position: sticky;
  bottom: 5px;
  background-color: #becfc5;
  box-shadow: 0 0 7px #444;
  margin: auto 5px 5px;
  border-radius: 15px;
}

.side_menu-basket img {
  margin-right: 15px;
}

.side_menu-basket-count {
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 10px;
  background-color: #7bb928;
  border: 2px solid #2e581f;
  border-radius: 15px;
  min-width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.dishes_list {
  width: 100%;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}

.dish_item {
  max-width: 250px;
  width: 14%;
  min-width: 180px;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 15px;
  box-shadow: 0 0 8px #444;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish_item-description {
  display: flex;
  flex-direction: column;
}

.dish_item-img {
  height: 180px;
  border-radius: 14px 14px 0 0;
  object-fit: cover;
  background-image: url('../img/dishes/no_image-800x800.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dish_item-title {
  font-size: 18px;
  font-weight: bold;
}

.dish_item-weight {
  display: flex;
  font-size: 10px;
  color: darkgray;
}

.dish_item-structure {
  font-size: 11px;
  text-transform: lowercase;
}

.dish_item-weight-letter,
.dish_item-price-letter,
.modal_basket-item-price-letter,
.modal_basket-item-weight-letter {
  margin-left: 0.2ch;
}

.dish_item-price-btn {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.dish_item-price {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3%;
}

.dish_item-btn {
  height: 60%;
  width: 90px;
  min-width: 68px;
  min-height: 20px;
  padding: 0;
  outline: none;
  background: #498c33;
  border: 1px solid #498c33;
  box-sizing: border-box;
  font-family: MontserratAlternates-Italic;
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.dish_item-btn:hover {
  border-color: #2e581f;
  box-shadow: 0 0 7px #444;
  cursor: pointer;
}

.dish_item-counter {
  height: 60%;
  width: 90px;
  min-width: 68px;
  min-height: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  color: #498c33;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.count {
  display: block;
  margin-top: 3px;
}

.dish_item-counter svg {
  width: 14px;
  height: 14px;
}

.dish_item-title,
.dish_item-weight,
.dish_item-structure,
.dish_item-price-btn {
  margin: 5px 10px 0;
}

.header__title::first-letter,
.dish_item-title::first-letter,
.modal_basket-item-title::first-letter {
  text-transform: uppercase;
}

.modal_windows::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: left top;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 2;
}

.modal_windows {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.modal_basket {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid #2e581f;
  border-radius: 15px;
  box-shadow: 0 0 7px #444;
  background-color: #e3faec;
  transition: 0.3s all;
  z-index: 2;
}

.modal_basket-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 5%;
}

.modal_basket-item {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.3%;
  align-items: center;
  border: 2px solid #498c33;
  border-radius: 15px;
  padding: 3px;
}

.modal_basket-item-img {
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 10px;
  border: 2px solid #498c33;
  border-radius: 15px;
}

.modal_basket-item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  background-image: url('../img/dishes/no_image-800x800.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal_basket-item-description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.modal_basket-item-title {
  font-weight: bold;
  font-size: 20px;
}

.modal_basket-item-structure {
  font-size: 14px;
}

.modal_basket-item-weight {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
}

.modal_basket-item-counter-price {
  display: flex;
  margin-left: auto;
}

.modal_basket-item-counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 30px;
  border: 2px solid #498c33;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
  margin-left: auto;
}

.modal_basket-item-counter-dec,
.modal_basket-item-counter-inc {
  padding: 4px 8px;
}

.modal_basket-item-price {
  display: flex;
  flex-wrap: nowrap;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.modal_basket-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5%;
  font-weight: bold;
}

.modal_basket-footer a {
  text-decoration:none;
  color: #2e581f;
  font-weight: bold;
  font-size: 18px;
}

.modal_basket-btn {
  height: 27px;
  width: 160px;
  padding: 0;
  outline: none;
  background: #498c33;
  border: 1px solid #498c33;
  box-sizing: border-box;
  font-family: MontserratAlternates-Italic;
  font-size: 18px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px #444;
}

.modal_basket-result {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  margin-bottom: 20px;
}

.modal_basket-result-price {
  margin: 0 10px;
}

.modal_basket-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
  color: #2e581f;
  background-color: FireBrick;
  border: 2px solid #2e581f;
  border-radius: 20px;
}

.modal_basket-close:hover {
  background-color: red;
  box-shadow: 0 0 7px #444;
  cursor: pointer;
}

svg:hover,
.side_menu-basket:hover,
.side_menu-basket-count:hover,
.side_menu-burger:hover,
.side_menu-basket-mobile:hover,
.side_menu-basket-count-mobile:hover {
  cursor: pointer;
}

@media (min-width: 521px) {
  .side_menu-burger {display: none;}
  .side_menu-title {justify-content: center;}
}

@media (max-width: 520px) {
  .modal_basket-item-img {display: none;}

  .modal_basket {max-width: 90%;}

  .modal_basket-item-counter-price {
    flex-direction: column;
  }

  .modal_basket-item-counter {margin-left: 0;}

  .side_menu {display: none;}

  .side_menu-title {position: relative;}

  .side_menu-burger-mobile {
    display: flex;
    min-width: 50px;
    min-height: 50px;
    position: fixed;
    top: 109px;
    left: 7px;
    margin: 0;
    border: 2px solid #2e581f;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: #becfc5;
    margin-right: 15px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px #444;
  }

  .burger_top-mobile,
  .burger_middle-mobile,
  .burger_bottom-mobile {
    width: 25px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 2px;
  }



  .dishes {
    justify-content: space-evenly;
  }

  .side_menu-basket-mobile {
    display: block;
    height: 50px;
    width: 50px;
    border: 2px solid #2e581f;
    border-radius: 50%;
    box-sizing: border-box;
    position: fixed;
    bottom: 7px;
    left: 7px;
    box-shadow: 0 0 7px #444;
    background-color: #becfc5;
  }

  .side_menu-basket-mobile img {
    width: 80%;
    height: 80%;
    object-fit:fill;
    margin: 3px;
  }

  .side_menu-basket-count-mobile {
    top: -10px;
    left: 30px;
    box-shadow: 0 0 7px #444;
  }
}

/* Видимость и невидимость блоков */

/* .dish_item-btn,
.dish_item-counter,
.empty_basket,
.empty_dish_item,
.modal_basket,
.empty_modal_basket-item {
  display: none;
}

.dish_item-btn-visible {
  display: block;
}

.dish_item-counter-visible,
.modal_basket-visible {
  display: flex;
} */

.hidden {
  display: none;
}

/* Активность неактивность блоков */

.side_menu-list .side_menu-item-active {
  color: #498c33;
}

.side_menu-list .side_menu-item-active,
.side_menu-list .side_menu-item-active + li {
  border-top: 2px solid #2e581f;
}

.side_menu-list .side_menu-item-active:last-child {
  border-bottom: 2px solid #2e581f;
}
